{% extends "base.html" %}

{% block content %}
<h1>Attendance Data for {{ name }}</h1>
<div class="table-responsive">
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Module</th>
        <th scope="col">Attendance</th>
      </tr>
    </thead>
    <tbody>
      {% for a_data in attendance %}
      <tr>
        <td>{{ a_data.module.m_name }}</td>
        <td class="att-val">{{ a_data.attendance }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %}

{% block link %}
<script src="{{url_for('static', filename='table.js')}}"></script>
{% endblock %}
