<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>{{ SNOOP }}</title>
  </head>
  <body>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
              {{ message }}
            {% endfor %}
        {% endif %}
      {% endwith %}
      {% if session['utype'] == True or session['utype'] == False %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            {% if session['utype'] == True %}
              <a class="navbar-brand" href="{{url_for('indexParent')}}">SNOOP</a>
            {% else %}
              <a class="navbar-brand" href="{{url_for('indexStudent')}}">SNOOP</a>
            {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                {% if session['utype'] == True %}
                  <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('indexParent')}}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('attendance')}}">Attendance</a>
                  </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
              </ul>
            </div>
          </nav>
        {% endif %}

    {% block content %}{% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    {% block link %}{% endblock %}
  </body>
</html>
