{% extends "base.html" %}

{% block content %}
  <h1>Welcome {{ name }}</h1>
  <h6>Let's have a look how {{ child.name }} is doing!</h6>

  <div class="container">

  <div class="row">

  <div class="col">
  <div class="card" style="width: 18rem;">
    <img src="{{url_for('static', filename='map1.png')}}" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Location</h5>
      <small class="card-subtitle mb-2 text-muted">
        {{ location.date_time.strftime('%d-%m-%Y') }} at
        {{ location.date_time.strftime('%H:%M') }}
      </small>
      <p id="location" class="card-text">
        Latitude: {{ location.latitude }}, Longitude: {{ location.longitude }}
      </p>
      <a href="https://www.google.com/maps/place/{{ location.latitude }},{{ location.longitude }}"
      id = "map-btn" class="btn btn-primary">Open in maps</a>
    </div>
  </div>
  </div>

  <div class="col">
  <div class="card" style="width: 18rem;">
      <div class="bd-example">
          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              {% for img in images %}
              {% if img == images[0] %}
              <div class="carousel-item active">
              {% else %}
              <div class="carousel-item">
              {% endif %}
                <img src="{{url_for('static', filename='upload_dir/' + child.u_id|string + '_' + img.photo + '.jpg')}}"
                class="d-block w-100">
              </div>
              {% endfor %}
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>

        <div class="card-footer text-muted">
          {{ location.date_time.strftime('%d-%m-%Y') }} at
          {{ location.date_time.strftime('%H:%M') }}
        </div>
  </div>
  </div>

</div>
</div>
{% endblock %}