{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Photo Upload</h5>
                    <p class="card-text">Upload a photo of your food</p>
                    <form action="" method="POST" enctype = "multipart/form-data">
                        <input type="file" name="file"/>
                        <input type="submit"/>
                    </form>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Location</h5>
                    <p class="card-text">This app is tracking your location</p>
                    <p id="location"></p>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block link %}
<script src="{{url_for('static', filename='location_student.js')}}"></script>
{% endblock %}