{% extends "base.html" %}

{% block content %}
<h1>SNOOP</h1>

<div class="container">
    <div class="row">
      <div class="col">
        <h2>Login</h2>
        <form action="", method="POST">
            {{ f1.csrf_token }}
            <div class="form-group">
                {{ f1.uid(placeholder="User ID") }}
                {{ f1.password(placeholder="password") }}
            </div>
            <button type="submit" class="btn btn-primary" name="login">Login</button>
        </form>
      </div>
      <div class="col">
      <h2>Signup</h2>
        <form action="", method="POST">
            {{ f2.csrf_token }}
            <div class="form-group">
                {{ f2.name(placeholder="name") }}
                {{ f2.password(placeholder="password") }}
            </div>
            <div class="form-group">
                {% for field in f2.user_type %}
                <div class="form-check form-check-inline">
                    {{field(class_="form-check-input",type="radio")}}
                    {{field.label(class_="form-check-label")}}
                </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary" name="signup">Signup</button>
        </form>
      </div>
    </div>
</div>

{% endblock %}